.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  /* min-height: 408px; */
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px 32px;
  position: relative;
}

.modal__title {
  /* width: 630px;
  height: 40px;
  gap: 421px; */
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  /* padding: 0 10px; */
  color: #212121;
  /* display: flex; */
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  height: 100%;
  width: 100%;
  margin-top: 32px;
}

.modal__name {
  position: relative;
  margin-top: 8px;
}

.modal__label {
  /* margin: 0 0 32px;
  gap: 8px;
  font-weight: 500;
  border-radius: 8px;
  width: 700px;
  min-height: 52px;
  padding-top: 16px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-left: 12px;
  border-width: 1px;
  border: 1px solid rgba(33, 33, 33, 0.4); */
  color: #212121;
}

.modal__input {
  /* display: block; */
  margin: 8px 0 32px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  padding: 16px 12px 16px;
  color: #212121;
  /* min-width: 700px; */
}

.modal__input::placeholder {
  color: #2121214d;
  opacity: 30%;
}

.modal__input:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  border: none;
  background-image: url("../images/Property\ 1=Default.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  opacity: 1;
  border: none;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  background-color: #212121;
  color: #fff;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  .modal__container {
    opacity: 1;
    padding: 12px;
  }
  .modal__title {
    margin: 10px 0 34px;
    font-size: 20px;
    justify-content: space-between;
    padding: 0;
    max-width: 106px;
  }
  .modal__form {
    min-height: 248px;
    width: 100%;
    /* gap: 24px; */
    /* border-radius: 8px;
    border-width: 1px; */
    /* padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 12px; */
  }
  .modal__label {
    min-height: 74px;
    margin: 1px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__submit-btn {
    width: 100%;
    padding: 0;
    max-width: none;
    height: 52px;
    /* border-radius: 8px;
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 32px; */
  }
  .modal__input {
    min-height: 48px;
    font-size: 16px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }
}
