.post {
  margin: 0 auto;
  position: relative;
}

.post__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  margin: 0 auto 12px;
  border-radius: 8px;
}

.post__title {
  max-width: 353px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #212121;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__like-btn {
  background-image: url(../images/Union.svg);
  width: 23px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.post__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .post__image {
    height: 288px;
    width: 288px;
  }

  .post__title {
    max-width: 242px;
    font-size: 16px;
  }
}
