.posts {
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166;
}

.posts__grid {
  max-width: 1440px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1300px) {
  .posts {
    padding: 20px 0;
  }

  .posts__grid {
    grid-template-columns: repeat(2, 413px);
    gap: 20px;
  }
}

@media screen and (max-width: 880px) {
  .posts {
    padding: 20px 0;
  }

  .posts__grid {
    grid-template-columns: repeat(1, 413px);
    gap: 20px;
  }
}
