.profile {
  display: flex;
  justify-content: center;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin: 0 20px 0 0;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  max-width: 420px;
  margin: 0 0 12px;
  display: -webkit-box;
  overflow: hidden;
  font-size: 32px;
  font-weight: 500;
  color: #212121;
  line-height: 1;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  max-width: 420px;
  margin: 0;
  display: -webkit-box;
  opacity: 0.7;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  line-height: 1;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__add-btn {
  width: 149px;
  height: 52px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  margin: 0 0 0 auto;
  padding: 0;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #fcf5e5;
  cursor: pointer;
}

.profile__edit-btn {
  width: 108px;
  height: 16px;
  display: flex;
  align-items: center;
  gap: 0 8px;
  margin: auto 0 0;
  padding: 0;
  background-color: transparent;
  border: none;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .profile__name {
    display: flex;
    align-items: center;
    margin: 0 0 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__avatar {
    max-width: 627px;
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__description {
    margin: 0 0 32px;
    display: flex;
    justify-content: center;
  }

  .profile__column {
    margin: 0 0 32px;
  }

  .profile__add-btn {
    margin: 0;
  }

  .profile__edit-btn {
    margin-top: auto;
  }
}
